{%extends 'base.html'%} {%block title%}Seasons{%endblock%} {%block content%} {% load static%}


<!-- CODE HERE -->

<!-- header section ends -->


<div class="heading" style="background:url(' /static/images/season.jpg ') no-repeat">
    <h1>Seasons in India</h1>
</div>

<section class="about">

    <div class="image">

        <img src="{% static 'images/summer_sikkim.jpg' %} " alt="">
    </div>

    <div class="content">
        <h3>1. Summer Season</h3>
        <p> Summer in most of India is hot, with plains often exceeding 40°C. Thats why the Himalayas become the perfect escape. Sikkim shines in summer with cool breezes, snow-fed rivers, and lush valleys. The Yumthang Valley bursts into color with rhododendrons, while Tsomgo Lake and Nathula Pass remain accessible and breathtaking. Trekking and mountain exploration are at their best, offering relief from the scorching heat elsewhere.</p>
    </div>
</section>

<section class="about">

    <div class="image">
        <img src="{% static 'images/autum_rishikesh.jpg' %}" alt="">
    </div>

    <div class="content">
        <h3>2. Autumn Season</h3>
        <p> Autumn brings crisp air, golden light, and a festive spirit. Temperatures drop to comfortable levels, and skies are clear after the monsoon. This is the best time for spiritual and cultural destinations like Varanasi and Rishikesh. The Ganga Aarti feels magical under the autumn sky, and festivals like Diwali and Dev Deepawali illuminate the ghats with thousands of lamps. Adventure sports in Rishikesh, like rafting, are also at their peak as the river flows strongly after the rains</p>
    </div>
</section>

<section class="about">

    <div class="image">
        <img src="{% static 'images/winter_ladakh.jpg' %}" alt="">
    </div>

    <div class="content">
        <h3>3. Winter Season</h3>
        <p> Winter transforms northern India into a wonderland. In Ladakh, temperatures plunge below freezing, but the landscapes are surreal—frozen lakes, snow-covered passes, and the famous Chadar Trek across the frozen Zanskar River. Its a season for adventurers who want to experience raw Himalayan beauty. Meanwhile, desert cities like Jaipur are pleasantly cool, making it the best time to explore forts, palaces, and bazaars without the summer heat.</p>
    </div>
</section>

<section class="about">

    <div class="image">
        <img src="{% static 'images/spring_kochi.jpg' %}" alt="">
    </div>

    <div class="content">
        <h3>4. Spring Season</h3>
        <p>Spring is mild and refreshing, with blooming flowers and pleasant temperatures. Its neither too hot nor too cold, making coastal and cultural destinations like Kochi perfect. You can enjoy backwaters, spice markets, and heritage walks without the heavy humidity of summer.
.</p>
    </div>
</section>








<!--  -->


{%endblock%}